{% extends "apartment_manager/base.html" %}
{% block title %}学生寝室信息管理{% endblock title %}
{% block main %}
<div style="margin-top:30px;margin-bottom:100px">
    <table class="table table-striped" style="table-layout:fixed;margin:auto;" >
        <tr class="" style="background:orange;color:white">
        <th class="" colspan="4">所有&nbsp;{{ floor }}&nbsp;楼的寝室
            <div class="btn-group">
              <button type="button" style="border:1px" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" style="background:#FFFFE0">
                  {% for i in height %}
                <li><a href="/apartment/room/{{ i }}/">{{ i }} 楼</a></li>
                  {% endfor %}
              </ul>
            </div>

        </th>
        <th></th>
    </tr>

    <tr class="" style="text-align:center">
        <td class="active">编号</td>
        <td class="active">床铺个数</td>
        <td class="active">已入住人数</td>
        <td class="active">可入住人数</td>
        <td class="active">...</td>
    </tr>
         <tr id="add" style="text-align:center;display:none;">
            <form action="add/" method="post" onsubmit="return check_exist()">
                {% csrf_token %}
            <td class="active"><input type="text" id="name_text" name="name" required class="form-control" style="border:none;" onchange="exist()"></td>
            <td class="active"><input type="number" required name="height" class="form-control" style="border:none;"></td>
            <td class="active"><input type="number" required name="width" class="form-control" style="border:none;"></td>
            <td class="active"><input type="number" required name="room_capacity" class="form-control" style="border:none;"></td>
            <td class="active"><input type="number" required name="used" class="form-control" style="border:none;"></td>
            <td class="active"><input type="number" required name="capacity" class="form-control" style="border:none;"></td>
            <td class="active"><input style="background:orange;border:0" type="submit" required class="btn btn-primary" value="保存"></td>
            </form>
        </tr>
{% for room in rooms %}
    <tr class="" style="text-align:center">
        <td class="active">{{ room.name }}</td>
        <td class="active">{{ room.building.room_capacity }}</td>
        <td class="active">{{ room.used }}</td>
        <td class="active">{{ room.capacity }}</td>

        <td class="active"><a href="/apartment/room/detail/{{ room.name }}/" style="color:black;">查看</a></td>
    </tr>
{% endfor %}
        </table>
    </div>
{% endblock main %}